
.imagesPageHB {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.titlePageInfo {
    font-family: Geometos;
    font-size: 50pt;
    text-align: left;
    color: white;
    line-height: 50pt;
}

/*margenes aun  no usados */
.margin {

}

/*button*/
nav {
    margin: 5px 90px;
    background-color: #650f2f;
    box-shadow: 0px 3px 20px 3px #162433;

}

nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: relative;
    text-align: left;
}

nav ul li {
    display: inline-block;
    background-color: #650f2f;
}

nav a {
    display: block;
    padding: 5px 10px;
    color: #FFF;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;

}

nav a:hover {
    background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 70px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

/* Second, Third and more Tiers	*/


i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: -7px 0 0px 7px;
    vertical-align: middle;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.boton-comprar {

    text-decoration: none;
    padding: 40px;
    font-family: Geosans;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: white;
    background-color: #A41C4D;

}

.boton-comprar:hover {
    color: #A41C4D;
    background-color: #ffffff;
    font-family: Geosans;

}
.borde-imagen {
    border: #A41C4D 3px solid;

}
.texto{
    font-family: Geosans;
    font-size: 12pt;
    line-height: 15px;
}

.texto-iz {
    font-family: Geosans;
    font-size: 30pt;
    line-height: 50px;
}

.subtitulo {
    font-family: Kiona;
    font-size: 30pt;
    font-weight: 900;
}
.subtitulo-texto {
    font-family: Kiona;
    font-size: 20pt;
    font-weight: 900;
}